/program/build/CMakeFiles
/program/build/base/*.cmake
/program/build/base/cmvs/*.cmake
/program/build/base/image/*.cmake
/program/build/base/numeric/*.cmake
/program/build/base/pmvs/*.cmake
/program/build/*.cmake
/program/build/main/*.cmake
/program/build/thirdParty/*.cmake
/program/build/thirdParty/graclus1.2/*.cmake
/program/build/thirdParty/nlopt-2.4.2/*.cmake
/program/build/thirdParty/tinycthread/*.cmake
/program/build/base/CMakeFiles/*.depend
/program/build/base/cmvs/CMakeFiles/*.depend
/program/build/base/image/CMakeFiles/*.depend
/program/build/base/numeric/CMakeFiles/*.depend
/program/build/base/pmvs/CMakeFiles/*.depend
/program/build/main/CMakeFiles/*.depend
/program/build/thirdParty/CMakeFiles/*.depend
/program/build/thirdParty/graclus1.2/CMakeFiles/*.depend
/program/build/thirdParty/nlopt-2.4.2/CMakeFiles/*.depend
/program/build/thirdParty/tinycthread/CMakeFiles/*.depend
/program/build/base/CMakeFiles/*.stamp
/program/build/base/cmvs/CMakeFiles/*.stamp
/program/build/base/image/CMakeFiles/*.stamp
/program/build/base/numeric/CMakeFiles/*.stamp
/program/build/base/pmvs/CMakeFiles/*.stamp
/program/build/main/CMakeFiles/*.stamp
/program/build/thirdParty/CMakeFiles/*.stamp
/program/build/thirdParty/graclus1.2/CMakeFiles/*.stamp
/program/build/thirdParty/nlopt-2.4.2/CMakeFiles/*.stamp
/program/build/thirdParty/tinycthread/CMakeFiles/*.stamp
/program/build/CMakeCache.txt
/program/build/base/cmvs/cmvs_lib.dir
/program/build/main/cmvs.dir
/program/build/main/genOption.dir
/program/build/main/pmvs2.dir
/program/build/base/pmvs/pmvs_lib.dir
/program/build/thirdParty/graclus1.2/graclus_lib.dir
/program/build/thirdParty/nlopt-2.4.2/nlopt.dir
/program/build/thirdParty/tinycthread/tinycthread.dir
/program/build/base/numeric/numeric_lib.dir
/program/build/base/image/image_lib.dir
/program/build/Win32
/program/build/*.suo
/program/build/main/Debug
/program/build/*.opensdf
/program/build/*.sdf
/program/build-64-12/CMakeFiles
/program/build-64-12/*.cmake
/program/build-64-12/main/*.cmake
/program/build-64-12/thirdParty/*.cmake
/program/build-64-12/thirdParty/graclus1.2/*.cmake
/program/build-64-12/thirdParty/nlopt-2.4.2/*.cmake
/program/build-64-12/thirdParty/tinycthread/*.cmake
/program/build-64-12/main/CMakeFiles/*.depend
/program/build-64-12/thirdParty/CMakeFiles/*.depend
/program/build-64-12/thirdParty/graclus1.2/CMakeFiles/*.depend
/program/build-64-12/thirdParty/nlopt-2.4.2/CMakeFiles/*.depend
/program/build-64-12/thirdParty/tinycthread/CMakeFiles/*.depend
/program/build-64-12/main/CMakeFiles/*.stamp
/program/build-64-12/thirdParty/CMakeFiles/*.stamp
/program/build-64-12/thirdParty/graclus1.2/CMakeFiles/*.stamp
/program/build-64-12/thirdParty/nlopt-2.4.2/CMakeFiles/*.stamp
/program/build-64-12/thirdParty/tinycthread/CMakeFiles/*.stamp
/program/build-64-12/CMakeCache.txt
/program/build-64-12/x64
/program/build-64-12/CMakeFiles
/program/build-64-12/main/*.dir
/program/build-64-12/thirdParty/graclus1.2/*.dir
/program/build-64-12/thirdParty/nlopt-2.4.2/*.dir
/program/build-64-12/thirdParty/tinycthread/*.dir
/program/build-64-12/*.opensdf
/program/build-64-12/*.sdf
/program/build-64-12/*.suo
/program/build-64-12/main/Release
/program/build-64-12/main/Debug
/program/build/main/Release
/program/build/main/Debug
/program/build-64-12/base/cmvs/*.dir
/program/build-64-12/base/image/*.dir
/program/build-64-12/base/numeric/*.dir
/program/build-64-12/base/pmvs/*.dir
/program/build-64-12/base/cmvs/CMakeFiles
/program/build-64-12/base/cmvs/Release
/program/build-64-12/base/cmvs/Debug
/program/build-64-12/base/image/CMakeFiles
/program/build-64-12/base/image/Release
/program/build-64-12/base/image/Debug
/program/build-64-12/base/numeric/CMakeFiles
/program/build-64-12/base/numeric/Release
/program/build-64-12/base/numeric/Debug
/program/build-64-12/base/pmvs/CMakeFiles
/program/build-64-12/base/pmvs/Release
/program/build-64-12/base/pmvs/Debug
/program/build-64-12/base/*.cmake
/program/build-64-12/base/cmvs/*.cmake
/program/build-64-12/base/image/*.cmake
/program/build-64-12/base/numeric/*.cmake
/program/build-64-12/base/pmvs/*.cmake
/program/build-64-12/base/CMakeFiles/*.depend
